<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= title %></title>
        <!-- link bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- link stylesheet -->
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
    <header class="big-header">
        
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trips">Your Trips</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/trips/new">+ Add Trip</a>
            </li>
        </ul>
        <% if (user) { %>
            <form action="/logout">
                <button class="btn btn-primary log-in-out-button m-3">Log Out</button>
            </form>
        <% } else { %>
            <form action="/auth/google">
                <button class="btn btn-primary log-in-out-button m-3">Login with Google</button>
            </form>
        <% } %>
       
    </header>

    <header class="small-header">
        
        <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Your Trips</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">+ Add Trip</a>
            </li>
            <% if (user) { %>
                <form action="/logout">
                    <button class="btn btn-primary log-in-out-button m-3">Log Out</button>
                </form>
            <% } else { %>
                <form action="/auth/google">
                    <button class="btn btn-primary log-in-out-button m-3">Login with Google</button>
                </form>
            <% } %>
        </ul>
        <hr>
    </header>