:root {
  --base: #7EAA61;
  --light-green: #B8F78D;
  --gray-green: #AAB9A1;
  --light-gray: rgb(244, 245, 244);
  --dark-green: #597844;
  --dark-gray: rgb(45,45,45);
  --danger: rgb(134, 0, 0);
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--light-gray);
  color: var(--dark-gray);
}

a {
  color: #00B7FF;
  color: var(--dark-green);
}

.log-in-out-button {
  float: right
}

.nav-tabs {
  border-bottom: 1px solid var(--dark-green);
}

.nav-tabs .nav-link {
  color: var(--dark-green);
}

.nav-tabs .nav-link.active {
  background-color: transparent;
  border-color: var(--dark-green) var(--dark-green) var(--light-gray);
  color: var(--dark-gray);
}

.nav-item > a:hover {
  border: none; 
}

.nav-tabs .nav-item:first-of-type {
  margin-left: 15px;
}

.profile-pic {
  min-width: 200px;
  min-height: 200px;
  max-width: 350px;
  max-height: 350px;
}

.btn-primary {
  background-color: var(--dark-green);
  border-color: var(--dark-green);
  color: var(--light-gray)
}

.btn-likes {
  width: 100px; 
}

.btn-primary:hover {
  background-color: var(--dark-gray-green);
}

.show-container {
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}

.btn-danger {
  background-color: var(--danger);
  border-color: var(--danger);
  width: 100px;
}

.link-danger {
  color: var(--danger);
}

.hidden {
  display:none;
}

#map {
  height: 250px;
}

.user-form {
  background-color: var(--gray);
  padding: 5px;
  border-radius: 3px;
}

@media (max-width: 768px) {
  .big-header {
    display: none;
  }

  .log-in-out-button {
    float: left;
  }
}

@media (min-width: 768px) {
  .small-header {
    display: none;
  }
}