<%- include ../partials/header.ejs %>

<% if (user) { %>
    <div class="container justify-content-center mt-5">
        <div class="text-center my-5">
            <img src="<%= user.avatar %>" class="rounded-circle profile-pic h-50 w-50" alt="Google Profile Picture">
        </div>
        <h1 class="text-center">Welcome <%= user.name %></h1>
    </div>
<% } else { %>
    <div class="container justify-content-center mt-5">
        <div class="text-center my-5">
            <h1 class="page-header">Outdoor Journal:</h1>
            <h2><i>Tell your story</i></h2>
            <p class="mt-5">Welcome to Outdoor Journal. Please sign in to continue.</p>
        </div>
    </div>
<% } %>


<%- include ../partials/footer.ejs %>

