<%- include ../partials/header.ejs %>

<div class="container my-5">
    <h2 class="my-5">Add a New Trip</h1>
    <form method="POST" action="/trips">
        <div class="form-group">
          <label for="trip-title">Trip title:</label>
          <input type="email" class="form-control" id="trip-title" name="title" placeholder="Hiking">
        </div>
        <div class="form-group">
          <label for="trip-description">Trip description:</label>
          <input type="email" class="form-control" id="trip-description" name="description" placeholder="My hiking trip...">
        </div>
        <div class="form-group">
          <label for="trip-date">Trip date:</label>
          <input type="datetime-local" class="form-control" id="trip-date" name="startDate">
        </div>
        <div class="form-group">
          <label for="classification">Example select</label>
          <select class="form-control" id="classification" name="classification">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Create Trip</button>
      </form>
</div>

<%- include ../partials/footer.ejs %>